
    <label for="fname">First name:</label>
    <br>
    <input type="text" name="fname"/>
    <br>
    <label for="lname">Last name:</label>
    <br>
    <input type="text" name="lname"/>
    <br><br>
    <input type="submit" value="Submit">