*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.app{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-select,.sound-picker,.player-container{
 height:80%;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}
.player-container{
    position: relative;
}
    
.player-container svg{
    position: absolute;
    height: 50%;
    top:50%;
    left:50%;

transform: translate(-50%,-50%) rotate(-90deg);
pointer-events: none;
}

.time-display{
    position: absolute;
    bottom:10%;
    color:whitesmoke;
    font-size: 50px;
    
}
video{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: -10;
}

.time-select button, .sound-picker button{
    color:white;
    width:30%;
    height: 10%;
    background: none;
    border:2px solid white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s ease;
}
.time-select button:hover{
    color:black;
    background:white;
}
.sound-picker button{
    border:none;
    height:100px;
    width: 100px;
    border-radius: 50%;
    padding:30px;
}
.sound-picker button:nth-child(1){
    background: #4972a1;
}
.sound-picker button:nth-child(2){
    background: #a14f49;
}
.sound-picker button img{
    height:100%;
}