*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color:#dddddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
svg{
    cursor:pointer;
}
body{
    font-family: 'Montserrat';
}