*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#rightWheel,#leftWheel{
    animation: wheel 2s  infinite linear;
    transform-origin: center;
    transform-box:fill-box;
}
#ManBike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;

}

#Hat{
    animation:hat 1s ease-in-out infinite alternate ;
    transform-origin: center;
    transform-box:fill-box;
}
@keyframes wheel{

    from{
        transform: rotateZ(0deg) ;  
       
    }
    to{
        transform: rotateZ(360deg);
     
    }
}
@keyframes bike{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(13deg);
    }
}


@keyframes hat {
from{
    transform: translateY(0%) rotateZ(0deg);
}
to{
    transform: translateY(18%) rotateZ(20deg);
}


}