*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'pacifico', cursive;
}
img{
    padding: 20px;
    margin-left: 650px;
}
#heading{
    background-color: #ff73b9;
    font-family: 'raleway';
    text-align: center;
    color: #ffffff;
    padding: 50px;
}
.input{
background-color:#8f3f8d;
text-align: center;
margin: 7% 15%;
margin-top: 0px;
padding :100px 10px;
}
input[type="text"]{
    color: #474643;
    padding: 20px 150px 20px 150px;
    height: 20px;
    width: 500px;
    background-color:#d995ea;
    border: none;
    border-radius:5px ;
    font-size: 20px;
    font-family: 'spicy rice',sans-serif;
}
input[type="submit"]{
    padding: 10px;
    height: 40px;
    width: 200px;
    background-color:#d995ea;
    font-size: 15px;
    font-weight: 200;
    font-family: 'spicy rice',sans-serif;
    border: none;
    border-radius:10px ;
}
.display{
    padding-top: 150px;
    text-align: center;
background-color:#ff80c0;
height: 500px;
    width:70%;
    margin: 7% 15%;
    color:#ffffff;
}
.city{
    font-family: 'raleway';
    text-transform: uppercase;
    font-size: 3rem;
    padding:20px;
}
.des{
    font-family: 'raleway';
    text-transform: uppercase;
    padding:20px;
    font-size: 2rem;
}
.temp{
    font-family: 'raleway';
    padding:20px;
    font-size: 3rem;
}