body {
    margin : 0;
}
.container {
    background-color: burlywood;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-face {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: relative;
    border: 15px solid brown
}
.hand {
    background-color: brown;
    position: absolute;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}
.hour {
    top : 49%;
    height: 8px;
    width: 35%;
}
.min {
    top : 49.5%;
    height: 6px;
    width: 42%;
}
.sec {
    top : 50%;
    height: 4px;
    width: 48%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}