.todos {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.todoPlaceholderText {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 24px;
  text-align: center;
  padding: 16px;
}

.addButtonPlaceholderText {
  font-family: "Bungee", cursive;
}
