* {
    box-sizing: border-box
}

body{
    background: #92bde7;
    color: #485e74;
    line-height:1.6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding:1em;
}

.container{
    max-width: 1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
}

ul{
    list-style:none;
    padding:0;
}

.brand{
    text-align:center;
}

.brand span{
    color:#fff;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > *{
    padding: 1em;
}

.company-info{
    text-align: center;
    background: #c9e6ff;
}

.contact {
    background: #fff;
}

.contact form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}

.full{
    grid-column: 1/3;
}

.contact form label{
    display:block;
}

p{
    margin:0px;
}

.contact form input, .contact form textarea, .contact form button{
    width:100%;
    padding:1em;
    border: 1px solid #c9e6ff;
}

.contact form button{
    background: #c9e6ff;
    border:none;
    padding:1em;
    text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
    background: #92bde7;
    color:#fff;
    transition: background-color 2s ease-out;
}

@media(min-width: 700px){
    .wrapper{
        display:grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding:2em;
    }

    .brand, .company-info{
        text-align: left;
    }
}

