.Burger {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;

  @media (min-width: 330px) and (min-height: 400px) {
    width: 350px;
    height: 414px;
  }

  @media (min-width: 500px) and (min-height: 401px) {
    width: 330px;
    height: 382px;
  }

  @media (min-width: 1000px) and (min-height: 700px) {
    width: 450px;
    height: 382px;
  }
}
