body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
}

#clock {
    height: 100vh;
    width: 100%;
    background-color: #14080e;
    color: #e9eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}