.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .react-switch-checkbox:focus{
    outline: none;
    box-shadow: none;
  }
  
  .react-switch-label {
    outline: none;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 65px;
    height: 35px;
    background: #111;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  .react-switch-label:focus{
    outline: none;
    box-shadow: none;
  }
  
  .react-switch-label .react-switch-button {
    outline: none;
    z-index: 100;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  .react-switch-label:focus .react-switch-button:focus{
    outline: none;
    box-shadow: none;
  } 
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    outline: none;
    box-shadow: none;

  }
  
  .react-switch-label:active .react-switch-button {
    width: 60px;
  }