{% extends 'blog/basic.html' %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 blog-main">
            <h3 class="font-italic">
                Artificial Intelligence
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">{{aipost.title}}</h2>
                                <div class="fb-like" data-href="http://127.0.0.1:8000/blog/ai/{{aipost.ai_id}}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div><br>

                <p>{{aipost.algo}}</p>
                <img src='{{aipost.img1.url}}' class="card-img-top" alt="...">
                <img src='{{aipost.img2.url}}' class="card-img-top" alt="...">
                <img src='{{aipost.img3.url}}' class="card-img-top" alt="...">
                <img src='{{aipost.img4.url}}' class="card-img-top" alt="...">
                <img src='{{aipost.img5.url}}' class="card-img-top" alt="...">
    
                <a href = "/media/{{aipost.video}}">Watch this for perfect concept clearity.</a>

            </div><!-- /.Blog-post -->




        </div><!-- /.Blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">My Personal Blog <em>My Personal Diary</em>The most secure place to learn about programming languages C, C++, Python, Java, JavaScript.</p>
            </div>



            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com">GitHub</a></li>
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://facebook.com">Facebook</a></li>
                </ol>
            </div>
        </aside>

    </div>
</div>

<footer class="page-footer font-small mdb-color darken-3 pt-4">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H15uuDMqDK0"  allowfullscreen></iframe>
          </div>
  </div>
    </div>
      </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://google.com/"> Google</a>
    </div>
{% endblock %}
